.form {
  border: 1px solid grey;
  background-color: white;
  box-shadow: 11px 11px 10px -7px rgba(0, 0, 0, 0.75);
  width: 500px;
  height: 400px;
  margin-left: 60%;
  margin-right: 10%;
  margin-top: 10%;
}
.label {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #0e77ac;
  font-size: 20px;
  margin-left: 9%;
}
.input {
  margin-left: 9%;
  width: 412px;
}
.input::placeholder {
  /* color: grey; */
  /* padding-left: 5%; */
}
.submit:hover {
  color: #3998c9;
  text-decoration-line: none;
}
.submit {
  margin-top: 5%;
  margin-left: 9%;
  padding: 2% 6%;
  color: white;
  background-color: #0e77ac;
  border-radius: 5px;
}
.heading {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #0e77ac;
  margin-left: 9%;
  margin-top: 6%;
  margin-bottom: 6%;
}
.input1 {
  /* width: 150px; */
  margin-left: 23%;
}
.label1 {
  margin-left: 23%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #0e77ac;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  body {
    /* background-color: blue; */
  }
  .form {
    /* border: 1px solid grey; */
    /* background-color: white; */
    /* box-shadow: 11px 11px 10px -7px rgba(0, 0, 0, 0.75); */
    /* width: 500px; */
    /* height: 450px; */
    /* margin-left: 25%; */
    /* margin-top: 20%; */
  }
  .row {
    /* margin-top: 12%; */
    /* padding: 3%; */
  }
  .lable {
    /* font-family: "Raleway", sans-serif; */
    /* font-weight: bold; */
    /* font-size: 16px; */
    /* padding: 5%; */
    /* margin-left: 4%; */
  }
  .input {
    /* margin-left: 9%; */
    /* margin-top: 2%; */
    /* width: 320px; */
    /* height: 30px; */
    /* border-radius: 5px; */
  }
}

@media screen and (max-width: 600px) {
  body {
    /* background-color: olive; */
  }
  .form {
    /* border: 1px solid grey; */
    /* background-color: white; */
    /* box-shadow: 11px 11px 10px -7px rgba(0, 0, 0, 0.75); */
    /* width: 400px; */
    /* height: 400px; */
    /* margin-left: 13%; */
    /* margin-top: 30%; */
  }
  .row {
    /* margin-top: 10%; */
    /* padding: 3%; */
  }
  .lable {
    /* font-family: "Raleway", sans-serif; */
    /* font-weight: bold; */
    /* font-size: 16px; */
    /* padding: 5%; */
    /* margin-left: 4%; */
  }
  .input {
    /* margin-left: 9%; */
    /* margin-top: 2%; */
    /* width: 320px; */
    /* height: 30px; */
    /* border-radius: 5px; */
  }
  .heading {
    /* margin-top: 10%; */
  }
}
