.form {
  border: 1px solid grey;
  background-color: white;
  box-shadow: 11px 11px 10px -7px rgba(0, 0, 0, 0.75);
  width: 500px;
  height: 400px;
  margin-left: 60%;
  margin-right: 10%;
  /* margin-top: 10%; */
}
.label {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #0e77ac;
  font-size: 20px;
  margin-left: 9%;
}
.input1 {
  margin-left: 9%;
}
.input::placeholder {
}
.submit:hover {
  color: #3998c9;
  text-decoration-line: none;
}
.submit {
  /*  */
}
.heading {
  font-family: "Raleway", sans-serif;
  color: #0e77ac;
  margin-left: 9%;
  margin-top: 6%;
  margin-bottom: 6%;
}
