body {
  background-color: yellow;
  background: url("./images/bgImages7.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  body {
    background-color: yellow;
    background: url("./images/bgImages7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 440px;
    /* width: 5%; */
  }
}
@media screen and (max-width: 992px) {
  body {
    background-color: yellow;
    background: url("./images/bgImages7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 440px;
  }
}
